.taskContainer {
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--gray-500);
    border-radius: 0.75rem;
    border: 1px solid var(--gray-400);
    gap: 0.75rem;    
}

.taskContainer label {
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0.5rem;
        
    }
}

.taskContainer button {
    background: transparent;
    border: 0;
    cursor: pointer;
    line-height: 0;
    color: var(--gray-300);
}

.taskContainer button:hover {
    color: var(--red-300);
}

.taskContainer span {
    color: var(--gray-100);
    font-size: 0.875rem;
}

.taskContainer label input[type='checkbox'] {
    display: none;
}

.checkbox {
    cursor: pointer;
    border-radius: 100%;
    height: 1.125rem;
    width: 1.125rem;

    transition: 0.2s all;

    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-unchecked {
    border: 2px solid var(--blue-300);
}

.checkbox-unchecked:hover {
    background-color: rgba(30, 111, 159, 0.2);
}

.checkbox-checked {
    border: 2px solid var(--blue-500);
    background-color: var(--blue-500);
}

.checkbox-checked:hover {
    border: 2px solid var(--purple-300);
    background-color: var(--purple-300);
}

.checkbox-checked + span {
    text-decoration: line-through;
    color: var(--gray-300);
}